.component {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-width: 1200px;
  margin: 0 auto;

  overflow-x: hidden;
  text-align: center;
  padding: 40px;
}

.btn {
  min-width: 10%;
  margin: 10px auto;
}


